# Neon PostgreSQL Database Connection String
DATABASE_URL=postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# Paystack API Keys
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Admin Auth Credentials
ADMIN_EMAIL=admin@everythingkiddies.com
ADMIN_PASSWORD=KiddiesAdmin2026!
JWT_SECRET=super-secret-kiddies-token-key-2026-neon

# App Base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
